<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="githubFlorianGrimm" value="https://nuget.pkg.github.com/FlorianGrimm/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="FlorianGrimm" />
			<add key="ClearTextPassword" value="%githubFlorianGrimmAccessToken%" />
		</github>
	</packageSourceCredentials>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="githubFlorianGrimm">
			<package pattern="Brimborium.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>